{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="icon" href="{% static 'img/favicon_ddol.ico' %}">

</head>
<body>
        <div style=" padding: 1rem; text-align : center;justify-content: center;">
             <img src="{%static 'img/gamja.jpg' %}">
        </div>
</body>


</html>


