{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="icon" href="{% static 'img/favicon-mong.ico' %}">

</head>
<body>
        <div style=" padding: 31rem; text-align : center;justify-content: center;">
            <a  href="/content/gallery">
                <img src="https://see.fontimg.com/api/renderfont4/w18E3/eyJyIjoiZnMiLCJoIjoxOCwidyI6MTAwMCwiZnMiOjE4LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/RnJvbSAyMDE2IHRvIDIwMjIsIG91ciBtZW1vcmllcy4gIFRoYW5rIHlvdSBmb3IgbWFycnlpbmcgbWUsIFNlb3lvdW5n/capiten-regular.png" alt="Cool fonts"></a>
        </div>
</body>
</html>