{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>메인화면 </title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>


</head>
<body>
        <div style=" padding: 23rem; text-align : center;justify-content: center;">
            <a href="/content/gallery">
            <img src="{%static 'img/index.jpg' %}">
             </a>
        </div>
</body>
</html>