{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="icon" href="{% static 'img/favicon-mong.ico' %}">

</head>
<body>
        <div style=" padding: 31rem; text-align : center;justify-content: center;">
            <a  href="/content/gallery">
                <a href="https://www.fontspace.com/category/calligraphy"><img src="https://see.fontimg.com/api/renderfont4/w18E3/eyJyIjoiZnMiLCJoIjoxOCwidyI6MTAwMCwiZnMiOjE4LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/IEZyb20gMjAxNiB0byAyMDIyLCBvdXIgbWVtb3JpZXMuICBUaGFuayB5b3UgZm9yIG1hcnJ5aW5nIG1lLiBTZW95b3VuZw/capiten-regular.png" alt="Calligraphy fonts"></a>
            </a>
        </div>
</body>
</html>